/* Colors */

$bgDefault      : #1a2127;
$bgHighlight    : #ffcf21;
$colDefault     : #ecf0f1;
$colHighlight   : #000000;
$dropDown       : false;

/* Breakpoints */

$tablet: "only screen and (min-width: 768px)";
$desktop: "only screen and (min-width: 1170px)";
